body {
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100%;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    background-color: rgb(87, 87, 87);
}

.CampoForm {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    box-shadow: -3px 10px 33px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 10px 33px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 10px 33px -3px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

form {
    text-align: center;
    padding: 30px;
}

form h1 {
    font-size: 40px;
    color: blue;
    font-family: Arial;
}

form img {
    height: 100px;
    width: 100px;
}


form .campos {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 20px;
}

form .campos input {
    position: relative;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #7f7f7fff;
}

form .Ingresar {
    color: aliceblue;
    background-color: blue;
    height: 30px;
    width: 50%;
    margin-top: 30px;
    border: #0300bcff 2px solid;
    border-radius: 3px;
    font-size: medium;
    cursor: pointer;
}