<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/Menu.css">
</head>

<body>
    <!-- Sidebar -->
    <aside>
        <h2>Administrador</h2>
        <nav>
            <div class="submenu">
                <a href="../Administrador/GestionUsuarios.php">Gestionar usuarios</a>
                <div class="submenu-items">
                    <a href="#Funcionarios">Funcionarios</a>
                    <a href="#Supervisores">Supervisores</a>
                    <a href="#Administradores">Administradores</a>
                </div>
            </div>
            <div class="submenu">
                <a href="../Administrador/HorariosPoliticas.php">Horarios y politicas</a>
                <div class="submenu-items">
                    <a href="#Modificacion">Modificacion</a>
                    <a href="#Configuracion">Configuracion</a>
                </div>
            </div>
            <div class="submenu">
                <a href="../Administrador/ReportesGlobales.php">Reportes</a>
                <div class="submenu-items">
                    <a href="#Estadisticas">Estadisticas</a>
                    <a href="#Reportes">Reportes</a>
                </div>
                <a href="../../CONTROLLER/CerrarSesion.php">Cerrar sesion</a>
            </div>
        </nav>
    </aside>
</body>

</html>