<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/Menu.css">
</head>

<body>
    <!-- Sidebar -->
    <aside>
        <h2>Supervisor</h2>
        <nav>
            <div class="submenu">
                <a href="../Supervisor/Equipo.php">Equipo</a>
                <div class="submenu-items">
                    <a href="#Ver">Ver marcas</a>
                    
                </div>
            </div>
            <div class="submenu">
                <a href="../Supervisor/Validacion.php">Validacion de marcas</a>
                <div class="submenu-items">
                    <a href="#Marcas">Aprobar/rechazar marcas</a>
                </div>
            </div>
            <div class="submenu">
                <a href="../Supervisor/Reportes.php">Reportes</a>
                <div class="submenu-items">
                    <a href="#GenerarReporte">Generar reportes</a>
                </div>
                <a href="../../CONTROLLER/CerrarSesion.php">Cerrar sesion</a>
            </div>
        </nav>
    </aside>
</body>

</html>