/* Contenido principal */
main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 7px 10px 5px rgba(71,71,71,0.75);
-webkit-box-shadow: 2px 7px 10px 5px rgba(71,71,71,0.75);
-moz-box-shadow: 2px 7px 10px 5px rgba(71,71,71,0.75);
    margin: 20px 0;
    padding: 20px;
}

h2 {
    margin-top: 0;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #2c3e50;
    color: #fff;
}

button {
    padding: 6px 12px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background: #2980b9;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #1f6391;
}

.crud-actions {
    display: flex;
    gap: 5px;
}

h4 {
    color: #7b7b7bff;
}