<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/Menu.css">
</head>

<body>
    <!-- Sidebar -->
    <aside>
        <h2>Funcionario</h2>
        <nav>
            <a href="../Funcionario/RegistrarMarcas.php">Registrar marcas</a>
            <div class="submenu">
                <a href="../Funcionario/HistorialMarcas.php">Historial</a>
                <div class="submenu-items">
                    <a href="#Indicadores">Indicadores</a>
                    <a href="#Listado">Listado diario/semanal</a>
                </div>
            </div>
            <div class="submenu">
                <a href="../Funcionario/ResumenSemanal.php">Resumen</a>
                <div class="submenu-items">
                    <a href="#Horas">Total de horas trabajadas</a>
                </div>
            </div>
            <a href="../../CONTROLLER/CerrarSesion.php">Cerrar sesion</a>
        </nav>
    </aside>
</body>

</html>